.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 25px;

  }
  .container {
    position: relative;
    text-align: center;
    color: white;
 
  }
  .img-cat{
    
  }