.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: 25px;

  }
  .container {
    position: relative;
    text-align: center;
    color: white;
 
  }
  .img-cat{
    
  }
  
  .carousel .item {
    margin-top: 50px;
    height: 200px;
  }
  .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}